body{
    font-family: 'Poppins', sans-serif;
}
h1{font-size: 50px;}
.Name-color{color: orange;}
section{display: flex;}
.Half-width{
    width: 50%;
    padding-left: 5%;
}
.Half-width image{width: 80%;}
.HIRE-ME-BATTON{
    color: antiquewhite;
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    
}